/* Style for any card like webpage, which include Sign in, Log in, and About page */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('/static/images/about-bg.png'); /* Update this with your actual image URL. It may not work properly currently */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: helvetica;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.card p {
    margin-top: 30px;
    font-family: helvetica;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.card h2 {
    font-family: helvetica;
    font-weight: 400;
    color: #EEEEEE;
}
.card h1 {
    font-family: helvetica;
    font-weight: 400;
    color: #000;
}
form .helptext {
    display: none;
    color: red;
    font-size:10px ;
    font-style: italic;
}
.button-container {
    display: flex;
    justify-content: center;
}
button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    color: #EEEEEE;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: helvetica;
    width: 80%;
}

#login{
    background-color: #4D4DA8;
}

#signup{
   background-color: #26246C;
}
button:hover {
    opacity: 0.8;
}
.navigation-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
.signup-button,
.login-button,
.home-button {
    width: 100%;
    text-decoration: none;
    font-family: helvetica;
}

.signup-container h2,
.login-container h2,
.heading-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    background-image: url('/static/images/logo_background.png');
    background-size: cover;
    background-position: center;    
    padding: 10px;
    border-radius: 12px;
    max-width: 350px;
}

.signup-container form p,
.login-container form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.signup-container form p label,
.login-container form p label {
    margin-bottom: 5px;
}

.signup-container form p input,
.login-container form p input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
