/* Style for any card like webpage, which include Sign in, Log in, and About page */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('/static/images/dart_vader.png'); /* Update this with your actual image URL. It may not work properly currently */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: helvetica;
    align-items: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
}

.card h2 {
    font-family: helvetica;
    font-weight: 400;
}
form .helptext {
    display: block;
    color: red;
    font-size:10px ;
    font-style: italic;
}
.button-container {
    display: flex;
    justify-content: center;
}
button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: helvetica;
    width: 80%;
}
.homebtn {
    display: block;
    margin-top: 20px;
    width: 100%;
}
.card .homebtn a {
    text-decoration: none;
    font-family: helvetica;
}