/* Style for any card like webpage, which include Sign in, Log in, and About page */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('/static/images/about-bg.png'); /* Update this with your actual image URL. It may not work properly currently */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: helvetica;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    max-width: 900px;
}
.card p {
    margin-top: 30px;
    font-family: helvetica;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.card h2 {
    font-family: helvetica;
    font-weight: 400;
    color: #ffff;
}
.card h1 {
    font-family: helvetica;
    font-weight: 400;
    color: #000;
}
form .helptext {
    display: block;
    color: red;
    font-size:10px ;
    font-style: italic;
}
.button-container {
    display: flex;
    justify-content: center;
}
button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: helvetica;
    width: 80%;
}
.navigation-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
.signup-button,
.login-button,
.home-button {
    width: 100%;
    text-decoration: none;
    font-family: helvetica;
}
.heading-container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    background: linear-gradient(to right, #40E0D0 0%, #2575fc 40%, #6a11cb 100%);
    padding: 10px;
    border-radius: 12px;
    max-width: 350px;
}