img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

.container figure {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
    border-radius: 15px;
    transition: transform 0.2s ease; /* Smooth transition for the transform */
    object-fit: cover; /* Adjusted image fit */
    height: 100%; /* Adjusted image size */
    max-width: 100%; /* Adjusted image size */
}

figure > img:hover  {
    transform: translate(-2.5px, 2.5px)scale(1.025);
    cursor: pointer;
}

figure a {
    color: black;
    text-decoration: none;
}

figure {
    position: relative; /* New property to establish positioning context */
    /* ...other properties... */
}

figure figcaption {
    position: absolute; /* New property to position relative to figure */
    bottom: 10px; /* Adjusted alignment */
    /* ...other properties... */
}

figure .likes {
    position: absolute; /* New property to position relative to figure */
    bottom: 10px; /* Adjusted alignment */
    left: 70%; /* Adjusted alignment */
}

figure .download {
    position: absolute; /* New property to position relative to figure */
    bottom: 10px; /* Adjusted alignment */
    left: 90%; /* Adjusted alignment */
}

figure .username{
    font-family: helvetica;
}

figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255,255,255,.5);
    padding: .2em .5em;
    justify-self: start;
}
