/* Style for the top navigation bar */
#topnav {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: add a slight shadow for depth */
    border-radius: 15px;
    position: fixed;
    top: 0;
    width: 99%;
    box-sizing: border-box;
    /* 2 following lines should help navbar to center but not sure if it actually works */
    margin-right: auto;
    margin-left: auto;
    z-index: 1000; /* High z-index to ensure it's on top */

}

#topnav a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

#topnav input[type="text"] {
    flex-grow: 1;
    margin: 0 20px;
    padding: 8px;
    border-radius: 8px;
}

#blank_space {
    height: 120px;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: Helvetica;
    white-space: nowrap
}

#artecho-link {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

#about-link {
    background-color: #f4e330;
    font-style: italic;
    font-weight: bold;
    color: black;
}

#signup-link {
    background-color: #00008b;
}

#login-link {
    background-color: #007BFF;
}

.nav-button:hover {
    opacity: 0.8;
}