#profile-details {
    display: flex;
    justify-content: space-between;
	/* flex-wrap: nowrap; */
	/* align-items: flex-start; */
	/* justify-content: center; */
    margin: 10px auto 50px auto;
    width: 800px;
}

#profile-details #profile-pic, #profile-details #description {
    margin-top: 10px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.edit-btn {
    display: flex;
    margin-top: 10px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    background-color: #007BFF;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    max-height: 15px;
    max-width: 30px;
}
.edit-btn a{
    color: white;
    text-decoration: none;
    font-family: helvetica;
}
.edit-btn:hover {
    opacity: 0.8;
}
.save-btn{
    display: flex;
    margin-top: 10px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    background-color: #00008b;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    max-height: 15px;
    max-width: 30px;
}
button{
    color: white;
    text-decoration: none;
    font-family: helvetica;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    width: 400px;
}

form p {
    width: 100%;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.bio {
    border: 1px solid #000;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    font-family: Helvetica;
    font-size: 16px;
    padding: 10px;
}

.bio:empty::before {
    content: "No Bio yet. Add your bio with Edit";
    color: #999;
}
#description p {
    font-family: helvetica;
    font-size: 16px;
}