{% extends 'base-card.html' %}

{% block title_block %}
    About | ArtEcho
</title>
{% endblock %}

{% block body_block %}
    <div class="about-container">
        <h2>About ArtEcho</h2>
        <p>
            ArtEcho is a platform for digital artists to share their work, contribute to others' projects and connect with digital artists in the community. 
            Whether you're a professional artist or just starting out, ArtEcho is a place for you to share your creativity with the world.
        </p>
    </div>
{% endblock %}