{% extends 'artecho/base-card.html' %}

{% block title_block %}
    <title>About | ArtEcho</title>
{% endblock %}

{% block card_content %}
    <div class="about-container">
        <h2>About ArtEcho</h2>
        <p>
            ArtEcho is a platform for digital artists to share their work, contribute to others' projects and connect with digital artists in the community. 
            Whether you're a professional artist or just starting out, ArtEcho is a place for you to share your creativity with the world.
        </p>
    </div>
    <div class="homebtn">
        <a href="{% url 'artecho:index' %}">Home</a>
    </div>
{% endblock %}