<!DOCTYPE html>

{% load static %}

<html>
    <head>
        {% block title_block %}
            <title> ArtEcho </title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    </head>
    <body>
        <nav id="topnav">
            {% if user.is_authenticated %}
            <a class="nav-button" id="artecho-link" href="{% url 'artecho:index' %}">ArtEcho</a>
            <form action="{% url 'artecho:search' %}" method="get">
                <input name="q" type="text" placeholder="Search.." value="{{ request.GET.q }}">
            </form>
            <a class="nav-button" id="about-link" href="{% url 'artecho:about' %}">i</a>
            <a class="nav-button" id="add-root" href="{% url 'artecho:add_root' %}">+</a>
            <a class="nav-button" id="logout-link" href="{% url 'artecho:logout' %}">Log out</a>
            {% else %}
            <a class="nav-button" id="artecho-link" href="{% url 'artecho:index' %}">ArtEcho</a>
            <input type="text" placeholder="Search..">
            <a class="nav-button" id="signup-link" href="{% url 'artecho:signup'%}">Sign up</a>
            <a class="nav-button" id="login-link" href="{% url 'artecho:login' %}">Log in</a>
            {% endif %}
        </nav>
        
        <div id="blank_space">
            <!-- This blank space is to cover #topnav's area, so #content don't go under it -->
        </div>

        <div id="content">
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>