<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title> ArtEcho
        <!-- Note that title closing tag is in the title_block template. This is purposeful design choice
        This allows other htmls that extend this base-template to both amend the title and include link css files
        Downside of this design however, other HTML's have to include closing title tag if they were to override title_block. Otherwise, html page does not load correctly -->
        {% block title_block %}
            </title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    </head>
    <body>
        <nav id="topnav">
            <!-- Note that we should have an if condition checking for whether logged in or not -->
            <a href="">ArtEcho</a>
            <input type="text" placeholder="Search..">
            <!-- following anchor(a) tags have not yet have page links to direct the user -->
            <a href="">i</a>
            <a href="">Sign up</a>
            <a href="">Log in</a>
        </nav>
        <div id="content">
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>