<!DOCTYPE html>
<!-- This base template defines how a card-like page will generally look like. -->
<!-- This template is going to be used for log-in, sign-up, and about page. -->

{% load staticfiles %}
<html>
    <head>
        {% block title_block %}
        <title> ArtEcho </title>
        {% endblock %}

        <link rel="stylesheet" href="{% static 'css/card.css' %}">
    </head>
    <body>

        <div class="card">
            {% block card_content %}
            {% endblock %}
        </div>

    </body>
</html>