<!DOCTYPE html>
{% extends 'artecho/base-navbar.html' %}
{% load static %}

{% block title_block %}
    <title> ArtEcho </title>
    <link rel="stylesheet" href="{% static 'css/figure_display.css' %}">
    <link rel="stylesheet" href="{% static 'css/figure_tiling.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body_block %}

<div class="container"> 
    {% if display_images %}
        {% for image in display_images %}
            {% if image.slug == "base_root" %}
            {% else %}
                <figure>
                    <a href="{{ image.slashSlug }}">
                        <img src="{{ image.file.url }}" 
                        alt="{{image.name}}" />
                    </a>
                    <div class="caption-wrapper">
                        <figcaption class="username"><a href="{% url 'artecho:profile' slug=image.poster.userprofile.slug %}">{{image.poster}}</a></figcaption>
                        <div class="likes-download-wrapper">
                            <figcaption class="likes"><i class="fa-regular fa-heart"></i> {{image.likes}}</figcaption>
                            <figcaption class="download"><a href="{% url 'artecho:download_image' image.slug %}"><i class="fa-solid fa-download fa-bounce"></i></a></figcaption>
                        </div>
                    </div>
                </figure>
            {% endif %}
        {% endfor %}
    {% else %}
        <strong>No images were found</strong>
    {% endif %}
</div>

{% endblock %}