<!DOCTYPE html>
{% extends 'artecho/base-card.html' %}
{% load static %}
{% block title_block %}
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block card_content %}
    <div class="login-container">
        <h2>ArtEcho</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
                <button id="login" type="submit">Log In</button>
            </div>
        </form>
        <p>Don't have an account? <a href="{% url 'artecho:signup'%}">Sign Up</a></p>
    </div>
    <div class="homebtn">
        <a href="{% url 'artecho:index' %}">Home</a>
    </div>
{% endblock %}