{% extends 'artecho/base-navbar.html' %}
{% load static %}

{% block title_block %}
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/figure_display.css' %}">
    <link rel="stylesheet" href="{% static 'css/figure_tiling.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_details.css' %}">
{% endblock %}

{% block body_block %}
    <div id="profile-details">
        <!-- The img on the next line should render the profile picture -->
        <img id="profile-pic" src="{{ user.profilePicture.url }}" alt="Profile picture">
        
        <div id="description">
            <!-- username -->
            <p>{{ user.username }}</p>
            <!-- bio -->
            <p class="bio">{{ user.bio }}</p>
            <!-- Total Likes -->
            <p>Total Likes: {{ user.totalLikes }}</p>
        </div>
        <div class="edit-btn" id="Edit">
            <a href="{% url 'artecho:profile_edit' %}">Edit</a>
        </div>
    </div>

    <div class="container">
        
    </div>
{% endblock %}