{% extends 'artecho/base-navbar.html' %}
{% load static %}

{% block title_block %}
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/figure_display.css' %}">
    <link rel="stylesheet" href="{% static 'css/figure_tiling.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile_details.css' %}">
{% endblock %}

{% block body_block %}
    <div id="profile-details">
        <!-- The img on the next line should render the profile picture -->
        <img id="profile-pic" src="{{ user.profilePicture.url }}" alt="profile picture here. Should align to the center later">
        
        <div id="description">
            <!-- The following three texts are not properly formatted yet. Needs some front end work -->
            <!-- Fullname -->
            <p></p>
            <!-- username -->
            <p>{{user.username}}</p>
            <!-- bio -->
            <p>{{user.bio}}</p>
        </div>
        <div>
            <button>edit</button>
        </div>
    </div>

    <div class="container">
        {% if display_images %}
            {% for image in display_images %}
                <figure>
                    <img src="{{ image.file.url }}" 
                        alt="{{image.name}}" />                    
                    <figcaption class="username"><a href="#">{{image.poster}}</a></figcaption>
                    <figcaption class="likes">👍 {{image.likes}}</figcaption>
                    <figcaption class="download"><a href="">↓</a></figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <strong>No images were found</strong>
        {% endif %}
    </div>
{% endblock %}