{% extends 'artecho/base-card.html' %}
{% load static %}
{% block title_block %}
    <title>Sign Up | ArtEcho</title>
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block card_content %}
    <div class="signup-container">
        <h2>ArtEcho</h2>
        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {{ signup_form.as_p }}
            <div class="button-container">
                <button id="signup" type="submit">Sign Up</button>
            </div>
        </form>
        <p>Already have an account? <a href="{% url 'artecho:login' %}">Log In</a></p>
    </div>
    <div class="homebtn">
        <a href="{% url 'artecho:index' %}">Home</a>
    </div>
{% endblock %}