{% extends 'artecho/base-navbar.html' %}
{% load static %}

{% block title_block %}
    <title>ArtEch <!-- Name of the image should be should be here -->></title>
    <link rel="stylesheet" href="{% static 'css/tree_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/figure_display.css' %}">
    <link rel="stylesheet" href="{% static 'css/figure_tree.css' %}">
{% endblock %}

{% block body_block %}
<!-- Tree-view demo should be integrated here -->
<!--  http://127.0.0.1:8000/tree should lead to the view of current page -->
<!-- This page is still under-construction  -->

    <div class="row">
        <div class="tree">
            <ul>
                <!-- parent image starts after <li> (if exists) -->
                {% if parent.slug == "base_root" %}
                    <!-- Does not display base root-->
                {% else %}
                    <li><figure>
                        <a href="{{ parent.slashSlug }}">  <!-- URL needs to be mapped for tree-view -->
                            <img src="{{ parent.file.url }}">
                        </a>
                        <figcaption class="username"><a href="#">username01</a></figcaption>
                        <figcaption class="likes">👍 45</figcaption>
                        <figcaption class="download"><a href="">↓</a></figcaption>
                    </figure>
                {% endif %}
                <!-- parent image ends here -->
                <ul>
                    <!-- focused/viewed image starts after <li> -->
                    <li> <figure id="page-fig">
                        <a href=""> <!-- URL needs to be mapped for tree-view -->
                            <img src="{{ image.file.url }}">
                        </a>
                        <figcaption class="username"><a href="#">{{image.poster}}</a></figcaption>
                        <figcaption class="likes">👍 {{image.likes}}</figcaption>
                        <figcaption class="download"><a href="">↓</a></figcaption>
                        <!-- has the following plus button as extra -->
                        <button class="add-branch-btn">+</button> <!-- I am not sure if the button will have the width of the image or a set width (like 25px) -->
                    </figure>
                    <!-- image-description is not yet properly positioned. Please imagine it as being on the side on a gray rectangle -->
                    <div class="image-description">
                        <h1>{{image.name}}</h1>
                        <h4>{{image.category.name}}</h4>
                        <p>{{image.description}}</p>
                        <!-- Dont need to specify if created with AI here. Users will distinguish AI and human made art by the coloing of the like button and colouring of this form -->
                    </div>
                    <!-- focused/viewed image ends here -->
                    <ul>
                        <!-- child image(s) starts from here, each in one <li> </li> element. There may be multiple images here or none.  -->
                        {% if children %}
                            {% for child in children %}
                                <figure>
                                    <a href="{{ child.slashSlug }}">  <!-- URL needs to be mapped for tree-view -->
                                        <img src="{{ child.file.url }}" 
                                        alt="{{child.name}}" />
                                    </a>
                                    <figcaption class="username"><a href="#">{{child.poster}}</a></figcaption>
                                    <figcaption class="likes">👍 {{child.likes}}</figcaption>
                                    <figcaption class="download"><a href="">↓</a></figcaption>
                                </figure>
                            {% endfor %}
                        {% else %}
                            <strong>No children were found</strong>
                        {% endif %}
                        <!-- child image(s) end here -->
                    </ul>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
